# Dependencies
node_modules/

# Build output
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# Electron
out/
/release
/config.json
/.adnify
/system_prompts_leaks-main
/void-main
/package-lock.json
/void
